.usersList {
  max-width: 1280px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  gap: 30px;
  padding: 30px;
  background: #ebd8ff;
  justify-items: center;
  margin: 0 auto;
  border-radius: 20px;
  margin-bottom: 30px;
}

.iconUp {
  display: block;
  transform: rotate(-90deg);
  color: #471ca9;
  border-radius: 50%;
  padding: 5px;
}

.iconUp:hover,
.iconUp:focus {
  scale: 1.2;
  box-shadow: inset 0 0 20px 20px #ae7be3;
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text {
  font-weight: 600;
  font-size: 36px;
  color: #471ca9;
}
