.header {
  position: relative;
  width: 100%;
  background: linear-gradient(
    114.99deg,
    #471ca9 -0.99%,
    #5736a3 54.28%,
    #4b2a99 78.99%
  );
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 8px;
  background: #ebd8ff;
  box-shadow: 0px 3.43693px 3.43693px rgba(0, 0, 0, 0.06),
    inset 0px -1.71846px 3.43693px #ae7be3, inset 0px 3.43693px 2.5777px #fbf8ff;
}

.nav {
  display: flex;
  gap: 50px;
  padding: 20px;
}

.navLink {
  font-weight: 600;
  padding: 10px;
  color: #ebd8ff;
  border-radius: 10px;
}

.navLink:hover,
.navLink:focus {
  color: #5cd3a8;
  scale: 1.2;
}

.img {
  height: 60px;
  border-radius: 20px;
  filter: drop-shadow(0 0 2em #5cd3a8);
}

.img:hover,
.img:focus {
  animation: rotate infinite 1s linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
